:root {
  --red: #ed181e;
  --grey: #dadada;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  box-sizing: border-box;
  // add font-family
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: black;
  color: white;
}
